/*-----------------------
----- Basic Styles -----
-------------------------*/

body{
	font-family: Oswald, Arial, sans-serif;
    font-size:14pt;
    font-weight:300;
    color:#6d6d6d;
	overflow-x:hidden;
}

a{
    font-size: 17px;
	color:black;
	text-decoration:none
}

a:hover,a:focus{
	color:grey;
}

a:focus, .btn:focus {
	outline: none;
}

/*-----------------------
----- Typo Styles ------
-------------------------*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: bold;
    color: black;
}

.big-text{
    font-size:42pt;
    font-weight:500;
    text-transform: uppercase;
    line-height:62px;
    letter-spacing:0.01em;
    word-spacing: 0.15em;
    margin-bottom:60px;
 }

.section-title{
    margin-top:-20px;
    margin-bottom: 80px;
    text-align:center;
}


/*-----------------------
----- Color Styles ------
-------------------------*/

.bg1{
    color:#6D6D85;
    background:#fff;
}

.bg2{
    color:#fff;

}

.orange{
    color:#blue;
}

/*------------------
----- Buttons ------
--------------------*/

.btn-color1{
    padding: 10px 30px;
    color:#fff;
    font-size: 21pt;
    font-weight: 300;
    background:#03A9F4;
    outline: none !important;
    border-radius: 0;
    transition: background .5s;
}

.btn-color1:hover{
    color:#fff;
    background:#4FC3F7;
}

.btn-color1:focus, .btn-color1:active{
    color:#fff;
}


/*-----------------------
---- Preloader Styles ----
-------------------------*/
#page-loader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

#page-loader .page-loader-gif{
    display: block;
    width:32px;
    height:32px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-16px 0 0 -16px;
    background: url('../images/preloader.gif') no-repeat;

}


/*----------------------
----- Contact Styles ----
------------------------*/

#contact{
    background-color: #fff;
    padding-top:70px;
    padding-bottom:70px;
}

#contact .contact-text{
    font-size: 16pt;
    line-height: 34px;
    margin-bottom: 30px;
    text-align: justify;
}

#contact .contact-list{
    padding-left: 0px;
}

#contact .contact-list li{
    margin-bottom: 30px;
    font-size: 16pt;
    list-style: none;
}

#contact .contact-list i{
    display:inline-block;
    color:#fff;
    font-size:22pt;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#03A9F4;
    border-radius:50% 50% 0 50%;
    margin-right:5px;
    border: 1px solid #fff;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

#contact .contact-list a{
    color: #6d6d6d;
    text-decoration: none;
}

#contact .contact-list a:hover{
    color: #03A9F4;
}

#contact .contact-list a:hover i{
    background:#4FC3F7;
    border-radius:50% 50% 50% 50%;
}

/*-------------------
---- GMap Styles ----
---------------------*/

#gmap{
	display: block;
	width: 100%;
	height: 550px;
	margin: 0 auto;
    border-radius: 50% 50% 0 50%;
    border: 10px solid #03A9F4;
}

/*----------------------
----- Footer Styles ----
------------------------*/

#main-footer{
    padding-top:50px;
    padding-bottom:40px;
    background: #6D6D6D;
    text-align: center;
    border-top: 10px solid #03A9F4;
}

#main-footer p{
    color: #fff;
}

#main-footer p a{
    color: #fff;
}

.social{
    list-style: none;
    display: block;
    padding:0px;
}

.social li{
    display: inline-block;
}

.social a {
    display:inline-block;
    color:#fff;
    font-size:22pt;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#03A9F4;
    border-radius:50% 50% 0 50%;
    margin-right:5px;
    border: 1px solid #fff;
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.social a:hover {
    background:#4FC3F7;
    border-radius:50% 50% 50% 50%;
}

/*----------------------
----- Media Queries ----
------------------------*/

@media (max-width:1199px){

    #gmap{
        height: 460px;
    }

    #contact .contact-text {
        font-size: 13pt;
        line-height: 28px;
    }

}

@media (max-width:991px){

    .big-text{
        font-size:30pt;
        line-height:40px;
        margin-bottom:30px;
    }

    #about .image{
        width:250px;
    }

    .chart{
        margin-bottom: 60px;
    }

    .skill10 p, .chart p{
        font-size: 24pt;
    }

    #gmapMobil{
        height:300px;
        width:100%;
    }

    #main-footer{
        padding-top:0px;
        padding-bottom:0px;
        position: relative;
    }

    #main-footer .container{
        position: absolute;
        bottom: 20px;
        width:100%;
    }

    #main-footer p, #main-footer p a{
        color: #03A9F4;
        font-weight: 500;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }

}

@media (max-width:767px){

    .big-text{
        font-size:26pt;
     }

    body{
        font-size: 12pt;
    }

    #main-nav.scrolled .navbar-toggle{
        border-color: #03A9F4;
    }

    #main-nav.scrolled .navbar-toggle .icon-bar{
        background: #03A9F4;
    }

    #home p{
        font-size: 16pt;
    }

    #home h1, #home h2{
        font-size: 20pt;
    }

    #home h2{
        left: 0px;
    }

    #about .about-text{
        font-size: 14pt;
    }

    #about .timeline {
        margin-left: 35px;
    }

    #about .imageCont{
        text-align: center;
        padding-top:30px;
        padding-bottom:60px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }

    #skills .skill10 {
        font-size: 16pt;
    }

    #filter-works ul li{
        display: block;
        margin: 0px;
    }

    #filter-works ul li a{
        padding:5px 0px;
    }

    #projects-container .project-item{
        width:250px;
    }

    .modal-header h4{
        margin:10px;
        font-size: 10pt;
        border:2px solid #fff;
    }

    .modal-header h4 span{
        font-size: 9pt;
        border:2px solid #fff;
    }

    #contact .contact-text {
        font-size: 14pt;
        line-height: 24px;
    }

    #contact .contact-list li {
        font-size: 14pt;
    }

}
