body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #222222;
}

.playfair-sc {
    font-family: 'Playfair Display SC', serif;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #222222 transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #222222;
}

.landing {
    background-color: #ffffff;
    color: #222222;
    text-align: center;
}

.landing a {
    color: #222222;
    text-decoration: none;
}

.landing-call {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.landing-call:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.landing-call h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 50pt;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    left: 20%;
}

.landing-call p{
  font-size: 18pt;
  position: absolute;
}

.portfolio {

    text-align: center;
}

.about {
    text-align: center;

}

.about .prof-shot {
    border-radius: 50%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about .prof-shot:hover {
    border-radius: 50%;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.contact {
    text-align: center;
}

.foot {
    text-align: center;
    background-color: #222222;
    color: #ffffff;
}

#symptom{
         margin-top: 1%;
}

.skillbar {
  font-family: 'Open Sans', 'sans-serif';
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
  width: 100px;
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}


#myimages { white-space: nowrap; }
#myimages img {
width: 12%;
display: block;
float: left;
margin: 20px;
}

hr {
    border: solid 1px #888;
}

.fa-code {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;
    background-color: #f7f9ff;
    padding: 0 5px;
}

li{
  list-style: none;
}
.bottom{
  margin-top: 0%;
}

.s-g{
  margin-left: -30%;
margin-top: 5%;
}

.boxshadow{
         box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 1);
}

.boxshadow:hover{
         box-shadow: none;
}

.change{
     font-family: Oswald, Arial, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    color: #6d6d6d;
}

.c{
  font-size: 18pt;
}

#name {
     margin-top: 2%;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}


#brain{
      height: 850px;
      margin-top: 15%;
          margin-right: 7%;
}

#scientist{
float: left;
margin-top: 33%;
opacity: 1;
position: absolute;
width: 250px;
height: 600px;
animation-duration: 1s;
animation-delay: 0s;
animation-iteration-count: 1;
}

#sci:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#sci:hover + #show1 {
  display: block;
}

/*
#show1,#show2{
  display: none;
}
*/

#coder-desc{
margin-left: 72%;
margin-top: 33%;
opacity: 1;
position: absolute;
width: 300px;
height: 600px;
animation-duration: 2s;
animation-delay: 0s;
animation-iteration-count: 1;

}

#code:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*
#code:hover + #show2 {
  display: block;
}
*/


.hidden{
  display: none;
}

.entrance{
  color: black;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;

}

#cells {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  bottom: 560px;

}


.portfolio .slide-one > .fp-tableCell h3,
.portfolio .slide-one > .fp-tableCell img,
.portfolio .slide-one > .fp-tableCell p {
	transform: translateY(1000px);
	opacity: 0;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
}

.portfolio.active .slide-one.active > .fp-tableCell h3,
.portfolio .slide-one > .fp-tableCell img,
.portfolio.active .slide-one.active > .fp-tableCell p {
	transform: translateY(0);
	opacity: 1;
}

.portfolio.active .slide-one.active > .fp-tableCell p {
	transition-delay: .22s;
}

.portfolio.active .slide-one.active > .fp-tableCell p + p {
	transition-delay: .44s;
}

@keyframes blink{
  0%{
    opacity: 1
  }
  100%{
    opacity: 0
  }
}

.blinking{
  animation: blink 0.8s infinite alternate !important;
}

.bold{
  font-weight: bold;
}

.pyramid-container {
  width: 100%;
  font-family: "Francois One", sans-serif;
  font-size: 16.5px;
  line-height: 18px;
  margin-top: 100px;
}

.pyramid {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.pyramid-row {
  display: block;
}

.level {
  display: inline-block;
  vertical-align: middle;
  margin: 1px auto;
  color: white;
  height: 70px;
  position: relative;
  transition: .2s all;
  cursor: pointer;
}

.level:hover {
  border-bottom-color: grey;
}

.level span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  white-space: nowrap;
}

.one {
  width: 0;
  height: 0;
	border-left: 50px solid #f9f9f7;
	border-right: 50px solid #f9f9f7;
	border-bottom: 90px solid #222222;
}

.two {
	border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 200px;
}

.three {
	border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 300px;
}

.four {
	border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 400px;
}

.five {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 500px;
}

.six {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 600px;
}

.seven {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 700px;
}

.eight {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
  margin-left:-50px;
	height: 0;
	width: 800px;
}

.one span {
  margin-left: -11px;
  top: 43px;
}

.two span {
  margin-left: -38px;
  top: 30px;
}

.three span {
  margin-left: -40px;
  top: 30px;
}

.four span {
  margin-left: -80px;
  top: 33px;
}

.five span {
  margin-left: -60px;
  top: 33px;
}

.six span {
  margin-left: -55px;
  top: 33px;
}

.seven span {
  margin-left: -80px;
  top: 33px;
}

.eight span {
  margin-left: -60px;
  top: 33px;
}

#atomtext{
    top: 100px;
    left: 200px;
    position: absolute;

}

#sublimetext{
  width: 100px !important;
  height: 100px;
  top: 100px;
  left: 440px;
  position: absolute;

}

#github{
  width: 200px !important;
height: 100px;
top: 90px;
left: 570px;
position: absolute;

}
