body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f7;
    color: #222222;
}

.playfair-sc {
    font-family: 'Playfair Display SC', serif;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #222222 transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #222222;
}

.landing {
    background-color: #ffffff;
    color: #222222;
    text-align: center;
}

.landing a {
    color: #222222;
    text-decoration: none;
}

.landing-call {
  position: absolute;
  z-index: 2;
  margin-left: 5%;
  width: 80%;
  transform: scale(1);
  transition: .3s ease-in-out;
}

.landing-call:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 3;
}

.text{
  font-size: 100% !important;
}

#code{
  font-size: 30px;
}
.landing-call h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 355%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    left: 20%;
    z-index: 3;
}

.landing-call p{
  font-size: 18pt;
  position: absolute;
}

.portfolio {

    text-align: center;
}

.about {
    text-align: center;

}

.about .prof-shot {
    border-radius: 50%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about .prof-shot:hover {
    border-radius: 50%;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.contact {
    text-align: center;
}

.foot {
    text-align: center;
    background-color: #222222;
    color: #ffffff;
}

#symptom{
         margin-top: 1%;
}

.skillbar {
  font-family: 'Open Sans', 'sans-serif';
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
  width: 100px;
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}


#myimages { white-space: nowrap; }
#myimages img {
width: 12%;
display: block;
float: left;
margin: 20px;
}

hr {
    border: solid 1px #888;
}

.fa-code {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;
    background-color: #f7f9ff;
    padding: 0 5px;
}

li{
  list-style: none;
}
.bottom{
  margin-top: 0%;
}

.s-g{
  margin-left: -30%;
margin-top: 5%;
}

.boxshadow{
         box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 1);
}

.boxshadow:hover{
         box-shadow: none;
}

.change{
     font-family: Oswald, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #6d6d6d;
}

.c{
  font-size: 18pt;
}

#name {
    margin-top: 2%;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.brain_container{
    position: absolute;
    width: 65%;
    margin-left: 11%;
    margin-top: 18%;

}

#brain{
  height: 100%;
  width: 100%;
  padding: 0;
}

#scientist{
  float: left;
  margin-top: 33%;
  opacity: 1;
  position: absolute;
  width: 20%;
  height: 30%;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  z-index: 1;
}

#sci:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#sci:hover + #show1 {
  display: block;
}

/*
#show1,#show2{
  display: none;
}
*/

#coder-desc{
  margin-left: 72%;
  margin-top: 33%;
  opacity: 1;
  position: absolute;
  width: 20%;
  height: 30%;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  z-index: 1;

}

#code:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*
#code:hover + #show2 {
  display: block;
}
*/


.hidden{
  display: none;
}

.entrance{
  color: black;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

#quote{
  margin-top: 10%;
}

#cells {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  bottom: 560px;

}


.portfolio .slide-one > .fp-tableCell h3,
.portfolio .slide-one > .fp-tableCell img,
.portfolio .slide-one > .fp-tableCell p {
	transform: translateY(1000px);
	opacity: 0;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
}

.portfolio.active .slide-one.active > .fp-tableCell h3,
.portfolio .slide-one > .fp-tableCell img,
.portfolio.active .slide-one.active > .fp-tableCell p {
	transform: translateY(0);
	opacity: 1;
}

.portfolio.active .slide-one.active > .fp-tableCell p {
	transition-delay: .22s;
}

.portfolio.active .slide-one.active > .fp-tableCell p + p {
	transition-delay: .44s;
}

@keyframes blink{
  0%{
    opacity: 1
  }
  100%{
    opacity: 0
  }
}

.blinking{
  animation: blink 0.8s infinite alternate !important;
}

.bold{
  font-weight: bold;
}

.level {
  display: inline-block;
  vertical-align: middle;
  margin: 1px auto;
  color: white;
  height: 70px;
  position: relative;
  transition: .2s all;
  cursor: pointer;
}

.level:hover {
  border-bottom-color: grey;
}

.level span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  white-space: nowrap;
}

.one {
  width: 0;
  height: 0;
	border-left: 50px solid #f9f9f7;
	border-right: 50px solid #f9f9f7;
	border-bottom: 90px solid #222222;
}

.two {
	border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 28%;
}

.three {
	border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 42.5%;
}

.four {
	border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 57%;
}

.five {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 72%;
}

.six {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 86%;
}

.seven {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100.5%;
}

.eight {
  border-bottom: 80px solid #222222;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
  margin-left:-50px;
	height: 0;
	width: 114.5%;
}

.one span {
  margin-left: -11px;
  top: 43px;
}

.two span {
  margin-left: -38px;
  top: 30px;
}

.three span {
  margin-left: -40px;
  top: 30px;
}

.four span {
  margin-left: -80px;
  top: 33px;
}

.five span {
  margin-left: -60px;
  top: 33px;
}

.six span {
  margin-left: -55px;
  top: 33px;
}

.seven span {
  margin-left: -80px;
  top: 33px;
}

.eight span {
  margin-left: -60px;
  top: 33px;
}

#atomtext{
    top: 115px;
    left: 200px;
    position: absolute;

}

#sublimetext{
  width: 80px !important;
  height: 70px;
  top: 118px;
  left: 440px;
  position: absolute;

}

#github{
  width: 200px !important;
  height: 100px;
  top: 100px;
  left: 525px;
  position: absolute;
}

#javascript{
  width: 100px !important;
  height: 90px;
  top: 150px;
  left: 1000px;
  position: absolute;

}

#javascript2{
  width: 100px !important;
  height: 90px;
  top: 328px;
  left: 1082px;
  position: absolute;

}

#html{
  width: 100px !important;
  height: 90px;
  top: 150px;
  left: 1100px;
  position: absolute;

}

#css{
      width: 100px !important;
      height: 90px;
      top: 150px;
      left: 1200px;
      position: absolute;
}

#bootstrap{
  width: 196px !important;
  height: 86px;
  top: 305px;
  left: 456px;
  position: absolute;

}

#jquery{
  width: 100px !important;
height: 90px;
top: 308px;
left: 343px;
position: absolute;

}

#node{
  width: 138px !important;
  height: 61px;
  top: 417px;
  left: 113px;
  position: absolute;

}

#react{
  width: 105px !important;
    height: 59px;
    top: 426px;
    left: 270px;
    position: absolute;
}

#redux{
  width: 143px !important;
height: 57px;
top: 424px;
left: 404px;
position: absolute;

}

#mongo {
    width: 81px !important;
    height: 83px;
    top: 570px;
    left: 1186px;
    position: absolute;
}

#mongoose {
    width: 93px !important;
    height: 75px;
    top: 578px;
    left: 1283px;
    position: absolute;
}

#npm{
  width: 89px !important;
    height: 55px;
    top: 655px;
    left: 341px;
    position: absolute;

}

#mocha{
  width: 186px !important;
height: 85px;
top: 494px;
left: 130px;
position: absolute;

}

#travis{
  width: 120px !important;
      height: 59px;
      top: 508px;
      left: 317px;
      position: absolute;

}

#heroku {
    width: 103px !important;
    height: 39px;
    top: 684px;
    left: 1236px;
    position: absolute;
}

#netlify {
    width: 85px !important;
    height: 53px;
    top: 676px;
    left: 1364px;
    position: absolute;
}

.thisonefirst{
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.numbertwo{
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}
.numberthree{
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
}
.numberfour{
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}
.numberfive{
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
}
.numbersix{
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: 1;
}
.numberseven{
  animation-duration: 3s;
  animation-delay: 3.5s;
  animation-iteration-count: 1;
}
.numbereight{
  animation-duration: 1s;
  animation-delay: 4s;
  animation-iteration-count: 4;
}

/* ================================= NAVIGATION =================================*/

nav {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     text-align: center;
     z-index: 5;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

a {
     text-decoration: none;
     color: inherit;
}

nav ul {
     background-color: white;
     overflow: hidden;
     color: white;
     padding: 0;
     text-align: center;
     margin: 0;
     height: 50px;
     -webkit-transition: max-height 1s ease;
     -ms-transition: max-height 1s ease;
     -moz-transition: max-height 1s ease;
     -o-transition: max-height 1s ease;
     transition: max-height 1s ease;
}

nav ul li {
     display: inline-block;
     padding-left: 20px;
     transition: background-color .5s ease;
     font-size: 18px;
}


.handle {
     width: 100%;
     background: grey;
     text-align: left;
     padding: 32px 12px;
     cursor: pointer;
     display: none;b
     color: white;
}

.handle-menu {
     font-size: 20px;
     font-weight: bold;
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.fa-bars {
     position: relative;
     bottom: 15px;
     float: right;
     color: white;
}

.activity-summary-heading {
     margin-top: 90px;
     margin-bottom: 0;
     letter-spacing: 1px;
}

.logos{
  width: 40%;
}

.image-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
  margin-top: 15%;
  margin-left: 15%;
  max-width: 965px;
  min-height: 100px;
  position: relative;
  width: 100%;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(1) {
  animation-delay: 0.1s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(2) {
  animation-delay: 0.2s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(3) {
  animation-delay: 0.3s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(4) {
  animation-delay: 0.4s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(5) {
  animation-delay: 0.5s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(6) {
  animation-delay: 0.6s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(7) {
  animation-delay: 0.7s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(8) {
  animation-delay: 0.8s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(9) {
  animation-delay: 0.9s;
}

.insta-page {
  padding: 10px;
}

.image-item {
  animation: slide-item .3s ease forwards;
  box-sizing: border-box;
  flex: 1 0 33%;
  transform: translateY(250px);
  visibility: hidden;
  width: 100%;
}
.image-item:nth-child(10) {
  animation-delay: 1s;
}

.insta-page {
  padding: 10px;
}

.image {
  display: block;
  position: relative;
  transition: all 0.17s cubic-bezier(0.4, 0, 1, 1);
  width: 100%;
}
.image img {
  display: block;
  max-width: 100%;
}


@keyframes slide-item {
  60% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ================================= MEDIA QUERY: NAVIGATION =================================*/

@media only screen and (max-width: 660px) {

     nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    box-shadow:none;
     }


     nav ul {
          max-height: 0;
     }
     .showing {
          height: 500px;
          max-height: 23em;
     }
     nav ul li {
          width: 100%;
          padding: 15px;
     }
     .handle {
          display: block;
     }
}


/* Phone - portrait view */
@media (max-width: 450px){
  .landing-call h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 19pt;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    left: 10%;
}

  #brain {
    width: 208%;
    margin-top: 38%;
    margin-left: -53%;
    margin-right: auto;
  }

  #scientist-desc{
    display: none;
  }

  #coder-desc{
    display: none;
  }

  .websites {
      width: 60%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15%;
  }

.bloom{
  margin-top: 20%;
}

.web_title{
  font-weight: bold;
color: black;
padding-top: 10px;
margin-left: 33%;
margin-right: 40%;
text-align: center;
}

.web_desc{
  text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.web_desc_2{
  text-align: center;

}

#quote {
    margin-top: 10%;
    font-size: 16pt;
    margin-top: 25%;
}

.prof-shot{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  margin-bottom: 19%;
  width: 42%;
}

.entrance {
    color: black;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    font-size: 12pt;
    margin-top: -9%;
    text-align: justify;
}

.notmobile{
  display: none;
}

.change {
    font-family: Oswald, Arial, sans-serif;
    font-size: 8pt;
    font-weight: 300;
    color: #6d6d6d;
}


.contact-list{
  margin-left: -13%;

}

.image-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 38%;
    margin-left: 4%;
    max-width: 965px;
    min-height: 100px;
    position: relative;
    width: 100%;
}

.logos {
    width: 70%;
}



}



/* Phone - landscape view */

@media screen and (max-width: 951px) and (min-width: 550px){

  nav ul {
       max-height: 0;
  }
  .showing {
       height: 262px;
       max-height: 23em;
  }
  nav ul li {
       width: 100%;
       padding: 5px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    box-shadow:none;
}
  .handle {
       display: block;
  }


  .landing-call h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 214%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    left: 20%;
    z-index: 3;
}

.brain_container {
    position: absolute;
    width: 38%;
    margin-left: 27%;
    margin-top: 18%;
}

#scientist {
    float: left;
    margin-top: 24%;
    margin-left: 7%;
    position: absolute;
    width: 20%;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    z-index: 1;
    font-size: 68%;
}

#sci{
  font-size: 186%;
}

#code{
  font-size: 154%;
}

#coder-desc {
    margin-left: 66%;
    margin-top: 24%;
    position: absolute;
    width: 20%;
    height: 30%;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    z-index: 1;
    font-size: 68%;
}

.websites {
    width: 51%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.bloom {
    margin-top: 10%;
}


.web_title{
display: none;
}

.web_desc{
display: none;

}

.web_desc_2{
display: none;

}

.line{
  display: none !important;
}

.fa-code{
  display: none !important;
}

#quote {
    margin-top: 12%;
    font-size: 14pt;
}

.prof-shot{
  display: none;
}


.entrance {
    color: black;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    font-size: 10pt;
    margin-top: -2%;
    text-align: center;
}

.notmobile{
  display: none;
}

.image-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 15%;
    margin-left: 13%;
    max-width: 965px;
    min-height: 100px;
    position: relative;
    width: 100%;
}

.logos {
    width: 16%;
}

.insta-page {
    padding: 6px;
}




}
