body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #222222;
}

.playfair-sc {
    font-family: 'Playfair Display SC', serif;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #222222 transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #222222;
}

.landing {
    background-color: #ffffff;
    color: #222222;
    text-align: center;
}

.landing a {
    color: #222222;
    text-decoration: none;
}

.landing-call {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.landing-call:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.landing-call h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 50pt;
}

.landing-call p{
  font-size: 18pt;
}

.portfolio {

    text-align: center;
}

.about {
    text-align: center;
}

.about .prof-shot {
    border-radius: 50%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about .prof-shot:hover {
    border-radius: 50%;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.contact {
    text-align: center;
}

.foot {
    text-align: center;
    background-color: #222222;
    color: #ffffff;
}

#symptom{
         margin-top: 1%;
}

.skillbar {
  font-family: 'Open Sans', 'sans-serif';
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
  width: 100px;
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}


#myimages { white-space: nowrap; }
#myimages img {
width: 12%;
display: block;
float: left;
margin: 20px;
}

hr {
    border: solid 1px #888;
}

.fa-code {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;
    background-color: #f7f9ff;
    padding: 0 5px;
}

li{
  list-style: none;
}
.bottom{
  margin-top: 0%;
}

.s-g{
  margin-left: -30%;
margin-top: 5%;
}

.boxshadow{
         box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 1);
}

.boxshadow:hover{
         box-shadow: none;
}

.change{
     font-family: Oswald, Arial, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    color: #6d6d6d;
}

.c{
  font-size: 18pt;
}

#name {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

#subName{
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: 1;

}

#contacts{
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;

}

.entrance{
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;

}


.portfolio .slide-one > .fp-tableCell h3,
.portfolio .slide-one > .fp-tableCell img,
.portfolio .slide-one > .fp-tableCell p {
	transform: translateY(1000px);
	opacity: 0;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .66s ease-in-out;
}

.portfolio.active .slide-one.active > .fp-tableCell h3,
.portfolio .slide-one > .fp-tableCell img,
.portfolio.active .slide-one.active > .fp-tableCell p {
	transform: translateY(0);
	opacity: 1;
}

.portfolio.active .slide-one.active > .fp-tableCell p {
	transition-delay: .22s;
}

.portfolio.active .slide-one.active > .fp-tableCell p + p {
	transition-delay: .44s;
}

/*

.about > .fp-tableCell h3,
.about > .fp-tableCell p {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.about.active > .fp-tableCell h3,
.about.active > .fp-tableCell p {
	opacity: 1;
}

.about.active > .fp-tableCell p {
	transition-delay: .33s;
}

.about.active > .fp-tableCell p + p {
	transition-delay: .66s;
}


.contact > .fp-tableCell h1,
.contact > .fp-tableCell li {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.contact.active > .fp-tableCell h1,
.contact.active > .fp-tableCell li {
	opacity: 1;
}

.contact.active > .fp-tableCell li,
.contact > .fp-tableCell i {
	transition-delay: .33s;
}

.contact.active > .fp-tableCell li + li,
.contact > .fp-tableCell i + i{
	transition-delay: .66s;
}
*/
